---
import { basics } from "data.json";
import { Picture } from "astro:assets";
import Github from "@/icons/Github.astro";
import Ignacio from "@/images/ignacio.avif";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Email-Sign.astro";
import Phone from "@/icons/Phone.astro";
import Section from "@/Section.astro";

const { name, label, email, phone, location, profiles } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
	LinkedIn,
	Github,
};

const LinkedIn_INFO = profiles.find(({ network }) => network === "LinkedIn");
const LinkedIn_URL = LinkedIn_INFO?.url;

const Github_INFO = profiles.find(({ network }) => network === "Github");
const Github_URL = Github_INFO?.url;

const printInfo = [email, phone, LinkedIn_URL, Github_URL]
	.filter(Boolean)
	.join(" • ");
---

<Section>
	<div class="flex flex-col items-center gap-6 sm:flex-row sm:gap-0">
		<header class="flex w-full flex-col gap-4 text-center sm:text-left">
			<h1 class="text-3xl font-bold">{name}</h1>
			<h2 class="text-pretty text-xs font-bold opacity-70 sm:text-base">
				{label}
			</h2>
			<span
				class="max-w-fit self-center rounded border-2 border-gray-300 p-2 text-center text-xs sm:self-auto"
			>
				{city}, {region}
			</span>
			<ul class="print space-y-2 text-xs text-gray-500">
				{
					printInfo.split(" • ").map((info) => {
						const modifiedInfo = info.replace("https://", "");
						return <li>{modifiedInfo}</li>;
					})
				}
			</ul>
			<footer
				class="no-print group flex w-full flex-row items-center justify-center gap-x-4 *:flex *:rounded *:border-2 *:border-gray-300 *:p-2 *:text-gray-500 sm:w-max sm:justify-start"
			>
				{
					email && (
						<a
							href={`mailto:${email}`}
							title={`Enviar un correo electrónico a ${name} al correo ${email}`}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:border-gray-500"
						>
							<Mail />
						</a>
					)
				}
				{
					phone && (
						<a
							href={`tel:${phone}`}
							title={`Llamar por teléfono a ${name} al número ${phone}`}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:border-gray-500"
						>
							<Phone />
						</a>
					)
				}
				{
					profiles.map(({ network, url }) => {
						const Icon = SOCIAL_ICONS[network];

						return (
							<a
								href={url}
								title={`Visitar el perfil de ${name} en ${network}`}
								target="_blank"
								rel="noopener noreferrer"
								class="hover:border-gray-500"
							>
								<Icon />
							</a>
						);
					})
				}
			</footer>
		</header>
		<Picture
			src={Ignacio}
			formats={["avif", "webp"]}
			alt={name}
			class="aspect-square w-96 rounded-lg object-cover"
		/>
	</div>
</Section>

<style is:global>
	.print {
		display: none;
	}

	@media print {
		.no-print {
			display: none;
		}

		.print {
			display: block;
		}
	}
</style>
