---
import { projects } from "data.json";
import Section from "@/Section.astro";
---

<Section title="Proyectos">
	<ul class="grid gap-1">
		{
			projects.map((project) => {
				const { url, description, highlights, name, isActive } =
					project;
				return (
					<li>
						<article class="flex h-full flex-col justify-between gap-4 rounded border-2 border-gray-300 p-2">
							<header class="flex-grow">
								<h3 class="mb-2 flex flex-row items-center gap-x-2">
									<a
										href={url}
										title={`Ver el proyecto ${name}`}
										class="font-semibold hover:underline sm:text-xl"
										target="_blank"
										rel="noopener noreferrer"
									>
										{name}
									</a>
									{isActive && (
										<span class="rounded bg-green-400 px-2 py-1 text-xs font-bold text-black">
											Activo
										</span>
									)}
								</h3>
								<p class="text-xs sm:text-sm">{description}</p>
							</header>
							<footer class="flex flex-wrap gap-1 text-xs">
								{highlights.map((highlight) => {
									return (
										<span class="rounded bg-gray-300 px-2 py-1 text-xs font-semibold text-gray-700">
											{highlight}
										</span>
									);
								})}
							</footer>
						</article>
					</li>
				);
			})
		}
	</ul>
</Section>

<style>
	ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
</style>
