---
import { projects } from "data.json";
import Section from "@/Section.astro";
---

<Section title="Proyectos">
	<ul class="grid gap-2">
		{
			projects.map((project) => {
				const { url, description, highlights, name, isActive } =
					project;
				return (
					<li>
						<article class="flex h-full flex-col justify-between gap-4 rounded border-2 border-gray-300 p-2">
							<header class="flex-grow">
								<h3 class="my-4 flex flex-row items-center gap-2">
									<a
										href={url}
										title={`Ver el proyecto ${name}`}
										class="text-xl font-semibold hover:underline"
										target="_blank"
										rel="noopener noreferrer"
									>
										{name}
									</a>
									{isActive && (
										<span class="rounded bg-green-400 px-2 py-1 text-xs font-bold text-black">
											Activo
										</span>
									)}
								</h3>
								<p class="text-responsive">{description}</p>
							</header>
							<footer>
								<ul class="flex flex-row flex-wrap gap-2">
									{highlights.map((highlight) => {
										return <li class="tag">{highlight}</li>;
									})}
								</ul>
							</footer>
						</article>
					</li>
				);
			})
		}
	</ul>
</Section>

<style>
	ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
</style>
